h1 {
  color: chartreuse;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

input {
  margin: 1rem;
}

.add-robot {
  margin: .90rem;
  border-radius: 1px;
  font-family: 'Avenir Next', sans-serif;
  background-color: black;
  color: chartreuse;
}
